.buttonCv {
  transition: all 0.5s ease 0.1s;
}


@keyframes button-cv {
  to {
    /* transform: translateX(10px);
    transform: translateX(-10px); */
    width: 21rem;
  }
}

/* lazy load */

.lazyLoad {
  animation: lazy-load 800ms linear 0s;
  animation-iteration-count: 1; /* defaulgt value */
  transition: all 1s;
  filter: blur(0px);
  transition: filter 0.5s linear;
}

@keyframes lazy-load {
  from {
    transform: translateY(200px);
    opacity: 0;
    filter: blur(10px);
    filter: grayscale(50%);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0px);
    filter: grayscale(0%);
  }
}

.text:hover {
  transform: sca;
}


@media screen and (min-width: 1000px) {
  .buttonCv:hover {
    width: 24rem;
    transform: translateX(-10px);
  }
  
}

.aboutLoaded{
  opacity: 1;
}
