.header{
    backdrop-filter: blur(5px);
   
    transition: all 700ms linear;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;

}

.headerScroll{
    height: 2rem;
    justify-content: flex-start;
    
}

.darkModeContainer{
    
    transition: all 1s;
    transition-timing-function: linear;
    transition-delay: 500ms;
    /* transform: translateX(-100px); */
    display: flex;
    width: 20%;
   transform: translateX(-240px);
    
}

.containerMenuDarkMode{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
    width: 100%;
    transition: all 2s;
    transition-timing-function: linear;
    height: 4.5rem;
}