.lazyLoad {
  animation: lazy-load 1s linear 0s;
  animation-iteration-count: 1; /* defaulgt value */
  transition: all 1s;
  filter: blur(0px);
  transition: filter 0.5s linear;
}

@keyframes lazy-load {
  from {
    transform: translateX(200px);
    opacity: 0;
    filter: blur(15px);
    filter: grayscale(50%);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0px);
    filter: grayscale(30%);
  }
}

.lazyLoad2 {
  animation: lazy-load2 1s linear 0s;
  animation-iteration-count: 1; /* defaulgt value */
  transition: all 1s;
  filter: blur(0px);
  transition: filter 0.5s linear;
}

@keyframes lazy-load2 {
  from {
    transform: translateX(-200px);
    opacity: 0;
    filter: blur(15px);
    filter: grayscale(30%);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0px);
    ilter: grayscale(0%);
  }
}
