@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-anchor: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: azure;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar-track {
    border: 0.4rem solid burlywood;
    border-radius: 1.5rem;
}

body::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 1.5rem;
}
